.achat-container {
  max-width: 500px;
  margin: 40px auto;
  background: #f9fff9;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.achat-container h1 {
  text-align: center;
  color: #15b18a;
  margin-bottom: 20px;
  width: 500 px ;
  height: auto;
}

.produit-info {
  text-align: center;
  margin-bottom: 20px;
}

form {
      display: flex;
  flex-direction: column;
    width: 200 px ;
    height: 100 px 

}

form input {
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #0e8f6e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #0b755b;
}

.retour {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #0e8f6e;
  text-decoration: none;
}
